In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql(
"""
SELECT 
  *
FROM
  city;
""",
"postgresql://netology:NetoSQL2019@84.201.153.170:19001/world-db"
)

In [ ]:
df.head()

   id            name country_code       district  population
0   1           Kabul          AFG          Kabol     1780000
1   2        Qandahar          AFG       Qandahar      237500
2   3           Herat          AFG          Herat      186800
3   4  Mazar-e-Sharif          AFG          Balkh      127800
4   5       Amsterdam          NLD  Noord-Holland      731200

In [ ]:
df_vac = pd.read_csv('vacation.csv', sep=',')
df_vac.head()

,Отметка времени,Страна отпуска,Город отпуска,City EN,Дата начала отпуска,Дата окончания отпуска,"Планируемый бюджет, руб.","Стоимость билетов, руб.",Доля билетов в итоговых расходах,"Стоимость отеля, руб.",Доля отеля в итоговых расходах,"Траты на отдыхе, руб.",Доля трат в итоговых расходах,Общая оценка отпуска по шкале от 1 до 5\r,"Итоговая стоимость отпуска, руб.",Отклонение итоговой стоимости от плана,"Стоимость одного дня отпуска, руб.","Стоимость отеля в сутки, руб.","Стоимость трат в день, руб."
0,5/30/2022 9:42:59,Россия,Сочи,Sochi,4/16/2022,4/30/2022,150000.0,9900.0,9.18%,29000.0,26.88%,69000.0,63.95%,5.0,107900.0,-28.07%,7707.0,2071.0,4929.0
1,5/30/2022 9:43:57,Турция,Стамбул,Istanbul,8/11/2020,8/15/2020,60000.0,12000.0,24.74%,9500.0,19.59%,27000.0,55.67%,4.0,48500.0,-19.17%,12125.0,2375.0,6750.0
2,5/30/2022 9:44:38,Индия,Манали,Manali,3/6/2020,3/22/2020,170000.0,27000.0,21.16%,26600.0,20.85%,74000.0,57.99%,5.0,127600.0,-24.94%,7975.0,1663.0,4625.0
3,5/30/2022 10:21:39,Швеция,Стокгольм,Stockholm,7/16/2021,7/22/2021,105000.0,21000.0,17.11%,55000.0,44.82%,46700.0,38.06%,2.0,122700.0,16.86%,20450.0,9167.0,7783.0
4,5/30/2022 10:26:09,Китай,Шанхай,Shanghai,9/19/2020,9/30/2020,135000.0,23500.0,20.52%,31200.0,27.25%,59800.0,52.23%,4.0,114500.0,-15.19%,10409.0,2836.0,5436.0

In [ ]:
df_merge = df.merge(df_vac, left_on='name', right_on='City EN', how='inner')
df_merge.head()

,id,name,country_code,district,population,Отметка времени,Страна отпуска,Город отпуска,City EN,Дата начала отпуска,...,"Стоимость отеля, руб.",Доля отеля в итоговых расходах,"Траты на отдыхе, руб.",Доля трат в итоговых расходах,Общая оценка отпуска по шкале от 1 до 5\r,"Итоговая стоимость отпуска, руб.",Отклонение итоговой стоимости от плана,"Стоимость одного дня отпуска, руб.","Стоимость отеля в сутки, руб.","Стоимость трат в день, руб."
0,144,Baku,AZE,Baki,1787800,5/31/2022 9:08:13,Азербайджан,Баку,Baku,5/7/2021,...,25800.0,40.09%,21000.0,32.63%,3.0,64360.0,7.27%,21453.0,8600.0,7000.0
1,1890,Shanghai,CHN,Shanghai,9696300,5/30/2022 10:26:09,Китай,Шанхай,Shanghai,9/19/2020,...,31200.0,27.25%,59800.0,52.23%,4.0,114500.0,-15.19%,10409.0,2836.0,5436.0
2,3048,Stockholm,SWE,Lisboa,750348,5/30/2022 10:21:39,Швеция,Стокгольм,Stockholm,7/16/2021,...,55000.0,44.82%,46700.0,38.06%,2.0,122700.0,16.86%,20450.0,9167.0,7783.0
3,3357,Istanbul,TUR,Istanbul,8787958,5/30/2022 9:43:57,Турция,Стамбул,Istanbul,8/11/2020,...,9500.0,19.59%,27000.0,55.67%,4.0,48500.0,-19.17%,12125.0,2375.0,6750.0
4,3520,Minsk,BLR,Horad Minsk,1674000,5/31/2022 9:03:06,Белоруссия,Минск,Minsk,5/1/2020,...,23400.0,38.11%,27000.0,43.97%,2.0,61400.0,11.64%,8771.0,3343.0,3857.0

In [ ]:
df_new = df_merge [['name', 'Страна отпуска', 'population']]
df_new

        name Страна отпуска  population
0       Baku    Азербайджан     1787800
1   Shanghai          Китай     9696300
2  Stockholm         Швеция      750348
3   Istanbul         Турция     8787958
4      Minsk     Белоруссия     1674000

In [ ]:
df_new.groupby('Страна отпуска').mean()

                population
Страна отпуска
Азербайджан      1787800.0
Белоруссия       1674000.0
Китай            9696300.0
Турция           8787958.0
Швеция            750348.0